{% extends 'base.html.twig' %}

{% block title %}Garden{% endblock %}

{% block body %}

<section data-jarallax data-speed=".8" class="py-10 py-md-14 overlay overlay-black overlay-60 bg-cover jarallax" style="background-image: url(https://images.unsplash.com/photo-1570142071296-d5903a62ab62?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);">
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8 text-center">

      
      <h1 class="display-2 text-white">
        "Le Spectacle de la nature est toujours beau"
      </h1>
      
      <p class="lead text-white-70 mb-6">
        Aristote
      </p>

    </div>
  </div> 
</div> 
</section>
{% endblock %}
