{% extends 'base.html.twig' %}

{% block title %}Garden{% endblock %}

{% block body %}

<section data-jarallax data-speed=".8" class="py-10 py-md-14 overlay overlay-black overlay-60 bg-cover jarallax" style="background-image: url(https://picsum.photos/2000);">
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8 text-center">

      <!-- Heading -->
      <h1 class="display-2 text-white">
        Want to work with us?
      </h1>

      <!-- Text -->
      <p class="lead text-white-75 mb-6">
        We're always looking to hire talented folks to join our ever-growing team of designers, engineers, and support staff.
      </p>

      <!-- Button -->
      <a href="#!" class="btn btn-primary lift">
        View open positions <i class="fe fe-arrow-right ms-3"></i>
      </a>

    </div>
  </div> <!-- / .row -->
</div> <!-- / .container -->
</section>
{% endblock %}
