<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-4">Sidebar</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
    {% set links = [
      {'title': 'Accueil', 'path': 'home'},
      {'title': 'Fiches Cultures', 'path': 'admin_culture_index'},
      {'title': 'Agenda', 'path': 'admin_calendar_index'},
      {'title': 'Catégories', 'path': 'admin_culture_category_index'},
  ] %}
  {% for link in links %}
      <li class="nav-item mx-3">
          <a class="nav-link  text-white text-decoration-none hover {{ app.request.pathinfo == path(link.path) ? 'active' }}"
                  {{ app.request.pathinfo == path(link.path) ? 'aria-current="page"' }} href="{{ path(link.path) }}">
              {{ link.title }}
          </a>
      </li>
  {% endfor %}
         
    </ul>
    <hr>
    
    </div>
</div>

