{% extends 'base.html.twig' %}

{% block title %}Hello CalendarController!{% endblock %}

{% block body %}

<section class="pt-8 pt-md-11">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-9 col-xl-8">

  <!-- Heading -->
  <h1 class="display-4 text-center ">
  Remote Work is the Future, but Should You Go Remote?
   </h1>

<!-- Text -->
<p class="lead mb-7 text-center text-muted">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec condimentum quam. Fusce pellentesque faucibus lorem at viverra. Integer at feugiat odio. In placerat euismod risus proin.
</p>

<!-- SECTION -->
<section class="pt-6 pt-md-8">
<div class="container">
<div class="row justify-content-center">
<div class="col-12 col-md-10 col-lg-9 col-xl-8">

<!-- Fugure -->
<figure class="figure mb-7">

  <!-- Image -->
  <img class="figure-img img-fluid rounded lift lift-lg" src="https://images.unsplash.com/photo-1471194402529-8e0f5a675de6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1570&q=160" alt="...">

  <!-- Caption -->
  <figcaption class="figure-caption text-center">
    La france adore la tomate et reconnait les bienfaits sur la santé.
  </figcaption>

</figure>

<!-- Text -->
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi reiciendis odio perferendis libero saepe voluptatum fugiat dolore voluptates aut, ut quas doloremque quo ad quis ipsum molestias neque pariatur commodi.
</p>
<p class="mb-0">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, quidem, earum! Quo fugiat voluptates similique quidem dolorem ex non quibusdam odio suscipit error, maiores, itaque blanditiis vel, sed, cum velit?
</p>

</div>
</div> <!-- / .row -->
</div> <!-- / .container -->
</section>

<!-- SECTION -->
<section class="pt-6 pt-md-8">
<div class="container">
<div class="row justify-content-center">
<div class="col-12 col-md-10 col-lg-9 col-xl-8">

<!-- Heading -->
<h2 class="fw-bold">
  Big heading for a new topic
</h2>

<!-- Text -->
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi reiciendis odio perferendis libero saepe voluptatum fugiat dolore voluptates aut, ut quas doloremque quo ad quis ipsum molestias neque pariatur commodi.
</p>
<ul class="mb-0">
  <li>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis voluptatem nihil labore, recusandae, at nobis cumque repellendus saepe maiores aperiam fuga vel tenetur placeat. Officia, natus, cupiditate! Natus facere, explicabo?
  </li>
  <li class="mt-4">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio dolorem modi corrupti excepturi quo enim odit deserunt culpa blanditiis quidem doloribus, iusto aspernatur quisquam quod numquam consequatur asperiores? Sint, dolor!
  </li>
</ul>

</div>
</div> <!-- / .row -->
</div> <!-- / .container -->
</section>

<!-- SECTION -->
<section class="pt-6 pt-md-8">
<div class="container">
<div class="row justify-content-center">
<div class="col-12 col-lg-11 col-xl-10">

<!-- Slider -->
<div data-flickity='{"wrapAround": true, "pageDots": false, "imagesLoaded": true, "adaptiveHeight": true}'>
  <div class="w-100">
    <img src="https://images.unsplash.com/photo-1624720114008-d94d0ec5f9ed?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OTF8fHRvbWF0b3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="..." class="img-fluid rounded">
  </div>
  <div class="w-100">
    <img src="https://images.unsplash.com/photo-1621872320697-102b596ef87c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzR8fHRvbWF0byUyMGdyZWVufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="..." class="img-fluid rounded">
  </div>
  <div class="w-100">
    <img src="https://images.unsplash.com/photo-1586775041132-075bb1434ae9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjR8fHRvbWF0byUyMHllbGxvd3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="..." class="img-fluid rounded">
  </div>
</div>

</div>
</div> <!-- / .row -->
</div> <!-- / .container -->
</section>
{% endblock %}