{% extends 'admin/base.html.twig' %}


{% block body %}
<main class="page-content">
<div class="container-fluid">

<h2>Dashboard</h2>

    <hr>
    <div class="row"></div>

</div>


</main>

{% endblock %}